@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 25rem;
  padding: 0.65rem;
  margin-block: 2rem;
  
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 0.86rem;
}

@media (min-width: 650px) {
  /* change pc styles here */
  /* Styling scroll bars */
  *::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Background color of the track */
  }

  *::-webkit-scrollbar-thumb {
    background: #444;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #666;
    /* Color of the thumb on hover */
  }

  .embla {
    --slide-spacing: 1rem;
    --slide-size: 22rem;
    --slide-height: 20rem;
    padding: 2rem;
    margin-block: 2rem;
    
  }
  .embla__slide__img{
    border-radius: 1rem;
    object-fit: cover;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}